{% extends "base.html" %}
{% block title %}404. Страница не найдена.{% endblock title %}
{% block content %}
<main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <div class="container">
        <div class="row ">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <h5 class="text-center">Ошибка 404. Нет такой страницы.</h5>
            <p class="text-center"><a href="{{ url_for('add_link_view') }}">Вернуться на главную</a></p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
  
    </section>
  </main>
{% endblock %}